# Nome del workflow
name: Benchmark ALU 74181

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  benchmark-part1:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        test_id: [
          0,1,2,3,4,5,6,7,8,9,10,
          11,12,13,14,15,16,17,18,19,20,
          21,22,23,24,25,26,27,28,29,30,
          31,32,33,34,35,36,37,38,39,40,
          41,4...50
        ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Imposta Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Installa dipendenze
        run: pip install psutil anybadge

      - name: Compila simulatore
        run: gcc -o simulator 74181.c -O2 -w

      - name: Esegui benchmark e genera badge
        run: python .github/workflows/benchmark.py ${{ matrix.test_id }} ${{ matrix.os }}

      - name: Carica artefatti
        uses: actions/upload-artifact@v4
        with:
          name: badges-${{ matrix.os }}-${{ matrix.test_id }}
          path: badges/
          if-no-files-found: ignore

  benchmark-part2:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        test_id: [
          51,52,53,54,55,56,57,58,59,60,
          61,62,63,64,65,66,67,68,69,70,
          71,72,73,74,75,76,77,78,79,80,
          81,82,83,84,85,86,87,88,89,90,
       ...,99,100,
          101,102,103,104
        ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Imposta Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Installa dipendenze
        run: pip install psutil anybadge

      - name: Compila simulatore
        run: gcc -o simulator 74181.c -O2 -w

      - name: Esegui benchmark e genera badge
        run: python .github/workflows/benchmark.py ${{ matrix.test_id }} ${{ matrix.os }}

      - name: Carica artefatti
        uses: actions/upload-artifact@v4
        with:
          name: badges-${{ matrix.os }}-${{ matrix.test_id }}
          path: badges/
          if-no-files-found: ignore
